/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 Jan 2021, 18:50:47
    Author     : aivit
*/
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    /*background-color: #1abc9c;  Green */
    color: #ffffff;
    background-image: url("kalns.jpg");
  }
  .bg-2 { 
    /*background-color: #474e5d;  Dark Blue */
    color: #ffffff;
    background-image: linear-gradient(#2f2f2f, #474e5d,#1abc9c );
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
     border: 30px solid transparent;
  padding: 5px;
  border-image: url(ramis.png) 30 round;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  .col-sm-4l{
    float: left;
    width: 50%;
  }
  .col-sm-4r{
    float: right;
    width: 50%;
  }
  .img-responsive{
      width: 300px;
      display:inline; 
  }
  .left{
      float: left;
  }
  .right{
      float: right;
  }
  .sticky{
      position: fixed;
      top: 0;
      width: 100%;
  }
  .sticky+.content{
      padding-top: 0px;
  }

  
  
  

